<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Fiscal Code</th>
      <th scope="col">Phone</th>
      <th scope="col">Province</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i = index; trackBy: trackUser ">
      <td>{{i+1}}</td>
      <td>{{user.name }}</td>
      <td>{{user.lastName }}</td>
      <td>{{user.email }}</td>
      <td>{{user.fiscalCode }}</td>
      <td>{{user.phone }}</td>
      <td>{{user.province }}</td>
    </tr>

  </tbody>
</table>