<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Fiscal Code</th>
      <th scope="col">Phone</th>
      <th scope="col">Province</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mario</td>
      <td>Rossi</td>
      <td>MRARSS77H13H501Z</td>
      <td>0551234567</td>
      <td>Firenze</td>
    </tr>
    <tr>
      <td>Mario</td>
      <td>Rossi</td>
      <td>MRARSS77H13H501Z</td>
      <td>0551234567</td>
      <td>Firenze</td>
    </tr>
  </tbody>
</table>